//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import './styles/variables.scss';

body{
    background-color:$background-color;
}

.mat-dialog-class .mat-dialog-container{
    background-color: $primary-color !important;
    //padding: 0px 0px 0px 0px !important;
    overflow: hidden !important;
    color: white;

  } 