@import '../../../styles/variables.scss';

.acent-collor{
    background-color:$acent-color;
}
.warn-collor{
    background-color:$warn-color;
}
button{
    color: $white-color;
    border-radius: 12px;
}