
/* Color */
$primary-color: #212130;
$background-color: #171622;
$secondy-color: #3C2E67;
$white-color: #FFFFFF;
$acent-color: #3C2E67;
$warn-color: #FF4B4B;

/* width*/
$sidenav-width: 240px;

/* margin*/
$body-margin: 15px;
