<div class="dialog">
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
        {{description}}
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <app-button *ngIf="!isOnlyConfirm" mat-button mat-dialog-close [name]="'Voltar'"></app-button>
        <app-button *ngIf="isOnlyConfirm" mat-button [mat-dialog-close]="false" [name]="'Cancelar'">
        </app-button>
        <app-button *ngIf="isOnlyConfirm" mat-button [mat-dialog-close]="true" cdkFocusInitial [name]="'Confirmar'">
        </app-button>
    </div>
</div>