@import '../../../styles/variables.scss';

form{
    width: 100%;
    margin: auto;
    color: $white-color;
}

.forms {
    //background-color: $secondy-color;
    width: 850px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
}