@import '../../styles/variables.scss';

/* variable */
$spaco: $body-margin;
$width: $sidenav-width;
$height: calc(100% - (2 * $spaco));
$btn-width: 200px;
$btn-height: 60px;
$border-radius: $border-radius;

a {
    margin: 0;
    display: block;
    //width: calc(100% - ($spaco * 2));
    height: $btn-height;
    color: $white-color;
    background-color: $primary-color;
    border: none;
    text-align: left;
    line-height: $btn-height;
    border-radius: $border-radius;

}

a:hover {
    background-color: $secondy-color;
}

mat-card {
    position: fixed;
    width: $width;
    height: $height;
    left: $spaco;
    top: $spaco;
    background-color: $primary-color;
    color: $white-color;
    box-shadow: 0px 0px 3px 1px rgba(139, 139, 139, 0.19);
    border-radius: $border-radius;
    padding: 0 10px;

    img {
        padding: 10px;
        margin: 10px 0;
    }

    #card-user {
        padding: 10px;
        margin: 10px 0;
        background-color: $secondy-color;
        height: $btn-height;
        border-radius: $border-radius;

        div img {
            margin: 0 10px 0px 0px;
            padding: 0;
            height: calc($btn-height - 20px);
        }

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: calc($btn-height - 20px);
            align-items: center;
            vertical-align: center;
        }
    }
}

#menu {
    padding: 10px;
    margin: 10px 0;
}

mat-expansion-panel {
    background-color: $primary-color;
    width: calc($width - ($spaco * 2));
    color: white;
    border: none;
    box-shadow: none;
}

mat-expansion-panel-header,
mat-panel-title {
    padding: 0px;
    margin: 10px 0;
    color: white;
}

.bnt-menu {
    height: 40px;
    line-height: 40px;
}