<mat-card>
    <img src="../../assets/marca.svg">
    <div id="card-user" class="d-flex w-100">
        <div>
            <img src="../../assets/admin-A.svg">
        </div>
        <p>Admin</p>
    </div>
    <mat-accordion>
        <div *ngFor="let item of menu.getMenu()">
            <mat-expansion-panel *ngIf="item.state !== 'matriculations'" class="mat-elevation-z0" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title id="menu">
                        <mat-icon class="mat-18">{{item.icon}}</mat-icon>
                        <span>{{item.name}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <a mat-flat-button class="bnt-menu" *ngFor="let subItem of item.children"
                    [routerLink]="['/'+item.state,subItem.state]">
                    <mat-icon class="mat-18">{{subItem.icon}}</mat-icon>
                    {{subItem.name}}
                </a>
            </mat-expansion-panel>
            <a mat-flat-button *ngIf="item.state === 'matriculations'" [routerLink]="['/'+ item.state,'listar']">
                <mat-icon class="mat-18">{{item.icon}}</mat-icon>
                {{item.name}}
            </a>

        </div>

    </mat-accordion>
</mat-card>